snippet :m
	:math:\`${1}\`${2}
snippet ..f
	.. figure:: ${1:filename}
	   :scale: ${2:25}%

	   ${3}
snippet fdef
	:math:\`${1:f} : \left\{\begin{array}{lll} ${2:A} & \to & ${3:B} \\ ${4:a} & \mapsto & ${5:b}\end{array}\right.\`${6}
